body {
  background-color: #eaeaea;
}

#navbar-container {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  background-color: #33363b;
  color: #eaeaea;
  font-family: 'Staatliches', cursive;
}

.nav-Betsy {
  font-size: 30px;
  margin-top: 8px;
  margin-bottom: 0;
}